<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
  <head>
    <!-- redirect if we are not logged in -->
    <% if (!user) { %>
      <script>
        var redirect_url = 'http://apps.facebook.com/<%= app.namespace %>/';
        self.parent.location = 'http://www.facebook.com/dialog/oauth/' + 
          '?client_id=<%= app.id %>&redirect_uri=' + redirect_url;
      </script>
    <% } %>

    <meta charset="utf-8" />
    <title><%= app.name %></title>
    <link rel="stylesheet" href="/components/bootstrap/docs/assets/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/base.css" type="text/css" />


    <!--[if IEMobile]>
    <link rel="stylesheet" href="mobile.css" media="screen" type="text/css"  />
    <![endif]-->

    <!-- These are Open Graph tags.  They add meta data to your  -->
    <!-- site that facebook uses when your content is shared     -->
    <!-- over facebook.  You should fill these tags in with      -->
    <!-- your data.  To learn more about Open Graph, visit       -->
    <!-- 'https://developers.facebook.com/docs/opengraph/'       -->
    <meta property="og:title" content="<%= app.name %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= url() %>" />
    <meta property="og:image" content="<%= url('/logo.png') %>" />
    <meta property="og:site_name" content="<%= app.name %>" />
    <meta property="og:namespace" content="<%= app.namespace %>" />
    <meta property="og:description" content="<%= app.name %> allows you to easily share files with your friends." />
    <meta property="fb:app_id" content="<%= app.id %>" />
  </head>
  <body>
    <div id="fb-root"></div>
    <script type="text/javascript">
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '<%= app.id %>', // App ID
          channelUrl : '<%= url_no_scheme('/channel.html') %>', // Channel File
          status     : true, // check login status
          cookie     : true, // enable cookies to allow the server to access the session
          xfbml      : true // parse XFBML
        });
        FB.Canvas.setAutoGrow();
      };

      // Load the SDK Asynchronously
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    <div class="container canvas">
      <div class="hero-unit">
        <header class="clearfix">
          <div>
            <img src="/images/logo.png" />
            <p>
              Free unlimited file sharing directly to and from your friends.
            </p>
            <br>
            <a href="#" class="btn apprequests" id="sendRequest" data-message="Share files with me using <%= app.name %>.">
              <span class="apprequests">Invite your friends!</span>
            </a>
          </div>
        </header>
      </div>

      <script type="text/template" id="alert_template">
        <div class="alert alert-info">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong><@= title @></strong>&nbsp;&nbsp;<@= msg @>
        </div>
      </script>

      <script type="text/template" id="friend_bundle_template">
        <div class="torrent-info row">
          <div class="name"><strong><@= name @></strong></div>
          <div class="btn-group">
            <button type="button" class="btn<@ if(disabled) { @> disabled<@ } if(download) { @> download<@ } if(ok) { @> ok<@ }@>"><i></i></button>
          </div>
        </div>
        <div class="filesborder">
          <div class="files"></div>
        </div>
      </script>

      <script type="text/template" id="self_bundle_template">
        <div class="torrent-info row">
          <div class="name"><strong><@= name @></strong></div>
          <div class="btn-group">
            <button type="button" class="btn share<@ if(!complete) { @> disabled<@ } @>"><i></i></button>
            <@ if(!original) { @>
            <button type="button" class="btn open<@ if(!complete) { @> disabled<@ } @>"><i></i></button>
            <@ } @>
            <button type="button" class="btn remove"><i></i></button>
          </div>
        </div>
        <div class="fb-progress">
          <div class="fb-bar" style="width: <@= progress @>;">
          </div>
        </div>
        <div class="filesborder">
          <div class="files"></div>
        </div>
      </script>

      <script type="text/template" id="file_template">
        <div class="name"><@= name @></div>
        <div class="size"><@= size @></div>
      </script>

      <script type="text/template" id="self_template">
        <div class="user well self">
          <div class="profile row">
            <img src="https://graph.facebook.com/<@= id @>/picture?type=square" alt="<@= name @>" />
            <div class="name">Your bundles</div>
            <i class="status <@= status @>"></i>
            <a href="#" class="primary btn fileshare disabled" id="fileShare">
              <div class="fileshare">Share New Files</div>
            </a>
          </div>
          <div class="bundlings"></div>
          <div class="bundles"></div>
        </div>
      </script>

      <script type="text/template" id="friend_template">
        <div class="profile row <@= status @>">
          <img src="https://graph.facebook.com/<@= id @>/picture?type=square" alt="<@= name @>" />
          <div class="name"><@= name @></div>
          <i class="status"></i>
        </div>
        <div class="bundles"></div>
      </script>

      <script type="text/template" id="bundling_template">
        <div class="bundle-info row">
          <div class="name"><strong><@= status @></strong></div>
        </div>
        <div class="fb-progress">
          <div class="fb-bar" style="width: <@= progress @>%;">
          </div>
        </div>
        <div class="filesborder">
          <div class="files">
            <@ for(var i=0; i<files.length; i++) { @>
              <div class="file row">
                <div class="name"><@= files[i].name @></div>
                <div class="size"><@= files[i].size @></div>
              </div>
            <@ } @>
          </div>
        </div>
      </script>


      <section id="users" class="clearfix">
      </section>

    </div>
    <script type="text/javascript" src="/components/jquery/jquery.js"></script>
    <script type="text/javascript" src="/components/underscore/underscore.js"></script>
    <script type="text/javascript" src="/components/jStorage/jstorage.js"></script>
    <script type="text/javascript" src="/components/backbone/backbone.js"></script>
    <script type="text/javascript" src="/components/btapp/pairing.btapp.js"></script>
    <script type="text/javascript" src="/components/btapp/plugin.btapp.js"></script>
    <script type="text/javascript" src="/components/btapp/client.btapp.js"></script>
    <script type="text/javascript" src="/components/btapp/btapp.js"></script>
    <script type="text/javascript" src="/components/backbrace/backbrace.js"></script>

    <script type="text/javascript" src="/components/bootstrap/js/bootstrap-alert.js"></script>
    <script type="text/javascript" src="/scripts/index.js"></script>
 
    <script>
      <% if (user) { %>
        jQuery(function() {

          window.analytics = window.analytics || [];

          analytics.load = function(apiKey) {
              var script = document.createElement('script');
              script.type = 'text/javascript';
              script.async = true;
              script.src = ('https:' === document.location.protocol ? 'https://' : 'http://') +
                           'd2dq2ahtl5zl1z.cloudfront.net' + '/analytics.js/v1/' + apiKey + '/analytics.min.js';
              var first = document.getElementsByTagName('script')[0];
              first.parentNode.insertBefore(script, first);
              var factory = function (type) {
                  return function () {
                      analytics.push([type].concat(Array.prototype.slice.call(arguments, 0)));
                  };
              };
              var methods = ['identify', 'track'];
              for(var i = 0; i < methods.length; i++) {
                  analytics[methods[i]]=factory(methods[i]);
              }
          };

          analytics.load('bljzt00');
          analytics.identify(<%= user.id %>, {
            name: "<%= user.name %>",
            link: "<%= user.link %>",
            gender: "<%= user.gender %>",
            email: "<%= user.email %>",
            friends: <%= req.friends_using_app.length %>
          });
          var self = new beamitover.Self({
            id: <%= user.id %>,
            name: "<%= user.name %>",
            credentials: {
              username: "<%= user.id %>",
              password: "<%= user.id %>"
            }
          });
          var selfView = new beamitover.SelfView({
            model: self,
            templateid: '#self_template',
          });
          $('#users').append(selfView.render().el);
        <% req.friends_using_app.forEach(function(friend) { %>
            var friend = new beamitover.Friend({
              id: <%= friend.uid %>,
              name: "<%= friend.name %>",
              first_name: "<%= friend.first_name %>",
              credentials: {
                username: "<%= friend.uid %>",
                password: "<%= friend.uid %>"
              },
              local: self.get('btapp')
            });
            var friendView = new beamitover.FriendView({
              model: friend,
              templateid: '#friend_template'
            });
            $('#users').append(friendView.render().el);
        <% }); %>
        });
      <% } %>
    </script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37072830-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </body>
</html>

